<h1>Links Index</h1><br /><br />

<h2>Create a New Link</h2>
<%= form_for(:link, url: links_path) do |f| %>
  <br>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <br>
  <%= f.submit "Create Link" %>
<% end %><br /><br />

<h2>My Links</h2>
<% @links.each do |link| %>
  <div class="link" id="link-<%=link.title%>" data-link-id="<%=link.id%>">
    <h4><span class="link-title">Title: <%= link.title %></span></h4>
    <% if (link.read == false) %>
    <h4><span class="link-url unread-link-url">Link: <%= link.url %></span></h4>
      <button type="button" class="read-button">Mark as Read</button>
      <button type="button" class="unread-button hidden">Mark as Unread</button>
    <% else %>
    <h4><span class="link-url read-link-url">Link: <%= link.url %></span></h4>
    <button type="button" class="read-button hidden">Mark as Read</button>
      <button type="button" class="unread-button">Mark as Unread</button>
    <% end %>
  </div>
<% end %>
