<!DOCTYPE html>
<html>
<head>
  <title>Thoughtbox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>
  <h4><%= log_link %></h4>
  <% flash.each do |type, msg| %>
    <h4><%= msg %></h4>
  <% end %>
  <%= yield %>
</body>
</html>
